// Typography
$heading-size: 20px;
$heading-size-xs: 16px;
$heading-lineHeight: 58px;
$heading-lineHeight-xs: 48px;
$fontWeight0: 400;
$fontWeight1: 500;
$fontWeight2: 600;
$fontWeight3: 700;
$fontWeight4: 800;

// Colors
$color-flare: #F66135;
$color-lime: #e2ff6d;
$color-charcoal: #484848;
$color-mist: #A9ACB4;
$color-seashell: #FFF5F2;
$color-black: #000000;
$color-white: #FFFFFF;
$color-error: #EB1212;
// Spacing
$padding-xs: 8px;
$padding-sm: 16px;
$padding-md: 28px;
$padding-lg: 40px;
$padding-xl: 80px;
$padding-xxl: 100px;
$padding-xxxl: 120px;
$padding-xxxxl: 240px;

// Breakpoints
$screen-xs: 30em;
$screen-sm: 48em;
$screen-md: 64em;
$screen-lg: 74em;
$screen-xl: 90em;
$screen-tab: 60em; //960
$screen-xxl: 120em; //1920
$screen-xxxl: 160em; //2560
